.main {
  padding: 4rem 0 0 0;
  min-height: 100vh;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.header {
  position: relative;
}

.header__changeLanguage {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 0;
  font-size: 32px;
  text-decoration: none;
}

.coverImage {
  position: relative;
  min-height: 400px;
  height: 60vh;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.heroDescription {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  max-width: 600px;
}

.heroDate {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  max-width: 600px;
  background-color: rgba(155, 164, 54, 0.40);
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 2rem;
  clear: both;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer {
  padding: 2rem 0;
  background-color: rgba(155, 164, 54, 0.40);
  color: #fff;
  text-align: center;
  color: #1E1E1E;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer__iubenda {
  margin-top: 1rem;
}

.footer__address {
  margin: 0 1rem;
}

.mainCta {
  clear: both;
  display: inline-block;
  margin-top: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #006B5B;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.mainCta:hover {
  background: #1E1E1E;
}

.mainCta:visited {
  color: #fff;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #006B5B;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem 0;
  gap: 2rem;
}

.row__column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 350px;
}

.paragraph, .paragraph___featured {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.paragraph___featured {
  font-weight: bold;
}

.horizonatalFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem 0;
  gap: 2rem;
}